.obsidian/app.json
.obsidian/appearance.json
.obsidian/core-plugins.json
.obsidian/workspace.json
Code/nsumo_video-feature_io_handling_2/.clang-format
Code/nsumo_video-feature_io_handling_2/.gitignore
Code/nsumo_video-feature_io_handling_2/.gitmodules
Code/nsumo_video-feature_io_handling_2/LICENSE
Code/nsumo_video-feature_io_handling_2/Makefile
Code/nsumo_video-feature_io_handling_2/README.md
Code/nsumo_video-feature_io_handling_2/.github/workflows/ci.yml
Code/nsumo_video-feature_io_handling_2/docs/coding_guidelines.md
Code/nsumo_video-feature_io_handling_2/docs/nsumo.jpg
Code/nsumo_video-feature_io_handling_2/docs/schematic.png
Code/nsumo_video-feature_io_handling_2/docs/sw_arch.png
Code/nsumo_video-feature_io_handling_2/docs/sysdiag.jpg
Code/nsumo_video-feature_io_handling_2/src/main.c
Code/nsumo_video-feature_io_handling_2/src/app/drive.c
Code/nsumo_video-feature_io_handling_2/src/app/drive.h
Code/nsumo_video-feature_io_handling_2/src/app/enemy.c
Code/nsumo_video-feature_io_handling_2/src/app/enemy.h
Code/nsumo_video-feature_io_handling_2/src/common/defines.h
Code/nsumo_video-feature_io_handling_2/src/drivers/io.c
Code/nsumo_video-feature_io_handling_2/src/drivers/io.h
Code/nsumo_video-feature_io_handling_2/src/drivers/mcu_init.c
Code/nsumo_video-feature_io_handling_2/src/drivers/mcu_init.h
Code/nsumo_video-feature_io_handling_2/src/test/test.c
Code/nsumo_video-feature_io_handling_2/src/test/test.h
Code/nsumo_video-feature_io_handling_2/tools/dockerfile
nsumo/.clang-format
nsumo/.gitignore
nsumo/.gitmodules
nsumo/LICENSE
nsumo/Makefile
nsumo/README.md
nsumo/.github/workflows/ci.yml
nsumo/docs/nsumo.jpg
nsumo/docs/sw_arch.png
nsumo/docs/sysdiag.jpg
nsumo/docs/Chat/Chat.md
nsumo/docs/Chat/mermaid.md
nsumo/docs/Chat/Class_note/0 ArtfulByte_Course_Summary_Claude.md
nsumo/docs/Chat/Class_note/6_Software_Architecture.md
nsumo/docs/Chat/Class_note/Codebase_Archiecture.md
nsumo/docs/Chat/Class_note/course_mapping.md
nsumo/docs/Chat/Class_note/website_Archiecture.md
nsumo/docs/nsumo_video-main/.clang-format
nsumo/docs/nsumo_video-main/.gitignore
nsumo/docs/nsumo_video-main/.gitmodules
nsumo/docs/nsumo_video-main/LICENSE
nsumo/docs/nsumo_video-main/Makefile
nsumo/docs/nsumo_video-main/README.md
nsumo/docs/nsumo_video-main/.github/workflows/ci.yml
nsumo/docs/nsumo_video-main/docs/coding_guidelines.md
nsumo/docs/nsumo_video-main/docs/nsumo.jpg
nsumo/docs/nsumo_video-main/docs/retreat_state.png
nsumo/docs/nsumo_video-main/docs/retreat_state.uml
nsumo/docs/nsumo_video-main/docs/schematic.png
nsumo/docs/nsumo_video-main/docs/state_machine.png
nsumo/docs/nsumo_video-main/docs/state_machine.uml
nsumo/docs/nsumo_video-main/docs/sw_arch.png
nsumo/docs/nsumo_video-main/docs/sysdiag.jpg
nsumo/docs/nsumo_video-main/external/printf_config.h
nsumo/docs/nsumo_video-main/src/main.c
nsumo/docs/nsumo_video-main/src/app/drive.c
nsumo/docs/nsumo_video-main/src/app/drive.h
nsumo/docs/nsumo_video-main/src/app/enemy.c
nsumo/docs/nsumo_video-main/src/app/enemy.h
nsumo/docs/nsumo_video-main/src/app/input_history.c
nsumo/docs/nsumo_video-main/src/app/input_history.h
nsumo/docs/nsumo_video-main/src/app/line.c
nsumo/docs/nsumo_video-main/src/app/line.h
nsumo/docs/nsumo_video-main/src/app/state_attack.c
nsumo/docs/nsumo_video-main/src/app/state_attack.h
nsumo/docs/nsumo_video-main/src/app/state_common.h
nsumo/docs/nsumo_video-main/src/app/state_machine.c
nsumo/docs/nsumo_video-main/src/app/state_machine.h
nsumo/docs/nsumo_video-main/src/app/state_manual.c
nsumo/docs/nsumo_video-main/src/app/state_manual.h
nsumo/docs/nsumo_video-main/src/app/state_retreat.c
nsumo/docs/nsumo_video-main/src/app/state_retreat.h
nsumo/docs/nsumo_video-main/src/app/state_search.c
nsumo/docs/nsumo_video-main/src/app/state_search.h
nsumo/docs/nsumo_video-main/src/app/state_wait.c
nsumo/docs/nsumo_video-main/src/app/state_wait.h
nsumo/docs/nsumo_video-main/src/app/timer.c
nsumo/docs/nsumo_video-main/src/app/timer.h
nsumo/docs/nsumo_video-main/src/common/assert_handler.c
nsumo/docs/nsumo_video-main/src/common/assert_handler.h
nsumo/docs/nsumo_video-main/src/common/defines.h
nsumo/docs/nsumo_video-main/src/common/enum_to_string.c
nsumo/docs/nsumo_video-main/src/common/enum_to_string.h
nsumo/docs/nsumo_video-main/src/common/ring_buffer.c
nsumo/docs/nsumo_video-main/src/common/ring_buffer.h
nsumo/docs/nsumo_video-main/src/common/sleep.c
nsumo/docs/nsumo_video-main/src/common/sleep.h
nsumo/docs/nsumo_video-main/src/common/trace.c
nsumo/docs/nsumo_video-main/src/common/trace.h
nsumo/docs/nsumo_video-main/src/drivers/adc.c
nsumo/docs/nsumo_video-main/src/drivers/adc.h
nsumo/docs/nsumo_video-main/src/drivers/i2c.c
nsumo/docs/nsumo_video-main/src/drivers/i2c.h
nsumo/docs/nsumo_video-main/src/drivers/io.c
nsumo/docs/nsumo_video-main/src/drivers/io.h
nsumo/docs/nsumo_video-main/src/drivers/ir_remote.c
nsumo/docs/nsumo_video-main/src/drivers/ir_remote.h
nsumo/docs/nsumo_video-main/src/drivers/led.c
nsumo/docs/nsumo_video-main/src/drivers/led.h
nsumo/docs/nsumo_video-main/src/drivers/mcu_init.c
nsumo/docs/nsumo_video-main/src/drivers/mcu_init.h
nsumo/docs/nsumo_video-main/src/drivers/millis.c
nsumo/docs/nsumo_video-main/src/drivers/millis.h
nsumo/docs/nsumo_video-main/src/drivers/pwm.c
nsumo/docs/nsumo_video-main/src/drivers/pwm.h
nsumo/docs/nsumo_video-main/src/drivers/qre1113.c
nsumo/docs/nsumo_video-main/src/drivers/qre1113.h
nsumo/docs/nsumo_video-main/src/drivers/tb6612fng.c
nsumo/docs/nsumo_video-main/src/drivers/tb6612fng.h
nsumo/docs/nsumo_video-main/src/drivers/uart.c
nsumo/docs/nsumo_video-main/src/drivers/uart.h
nsumo/docs/nsumo_video-main/src/drivers/vl53l0x.c
nsumo/docs/nsumo_video-main/src/drivers/vl53l0x.h
nsumo/docs/nsumo_video-main/src/test/test.c
nsumo/docs/nsumo_video-main/tools/build_tests.sh
nsumo/docs/nsumo_video-main/tools/dockerfile
nsumo/src/main.c
nsumo/src/app/drive.c
nsumo/src/app/drive.h
nsumo/src/app/enemy.c
nsumo/src/app/enemy.h
nsumo/src/common/defines.h
nsumo/src/drivers/i2c.c
nsumo/src/drivers/i2c.h
nsumo/src/drivers/uart.c
nsumo/src/drivers/uart.h
nsumo/src/test/test.c
nsumo/src/test/test.h
nsumo/tools/dockerfile
Code/Blink LED/Debug/Blink LED_linkInfo.xml
Code/Blink LED/Debug/Blink LED.map
Code/Blink LED/Debug/Blink LED.out
Code/Blink LED/Debug/Blink LED.txt
Code/Blink LED/Debug/main.obj
Code/Blink LED/Debug/.clangd/.cache/clangd/index/main.c.9B5B2B57075CB29A.idx
.obsidian/community-plugins.json
.obsidian/hotkeys.json
.obsidian/plugins/colored-text/data.json
.obsidian/plugins/colored-text/main.js
.obsidian/plugins/colored-text/manifest.json
.obsidian/plugins/colored-text/styles.css
.obsidian/plugins/fast-text-color/data.json
.obsidian/plugins/fast-text-color/main.js
.obsidian/plugins/fast-text-color/manifest.json
.obsidian/plugins/fast-text-color/styles.css
